ul.autocomplete-list {
    position: absolute;
    padding: 0px;
    background: #fff;
    color: #777;
    font-size: 13px;
    border-radius: 2px;
}

ul.autocomplete-list>.autocomplete-list-item {
    width: 100%;
    height: 28px;
    padding: 0px 10px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;
}

ul.autocomplete-list>.autocomplete-list-item:hover {
    background: rgba(7, 7, 7, 0.3);
    color: #fff;
}